<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vuong Ngo</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body style="background-color: #145252">

<div class="ui center aligned grid" style="margin: 20px; padding: 20px">
    <div class="center aligned two column row">
        <div class="column">
            <div class="ui segment" style="text-align: center; background-color: darkcyan; padding: 20px">
                <div style="display: flex; justify-content: center">
                    <img style="box-shadow: 5px 5px 5px #145252" class="ui medium image bordered" src="vuong.jpg">
                </div>

                <div style="text-align: center; background-color: #051515; box-shadow: 5px 5px 5px #145252; padding-bottom: 10px; margin: 20px">
                    <h3 class="ui header" style="color: white; padding-top: 10px;">Download</h3>
                    <a href="InteractiveCV.zip" download="InteractiveCV.zip" style="font-size: 16px">Interactive CV Game</a>
                </div>

                <div style="text-align: center; background-color: #051515; box-shadow: 5px 5px 5px #145252; padding-bottom: 10px; margin: 20px">
                    <h3 class="ui header" style="color: white; padding-top: 10px;">Contact my Talent-manager!</h3>
                    <p style="color: white; font-size: 16px">s.koeleman@next.youngcapital.nl </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment" style="text-align: center; background-color: darkcyan">
                <div class="ui raised very padded text container segment">
                    <h2 class="ui header">Welcome</h2>
                    <p style="font-size: 24px">My name is Vuong Ngo and I welcome you to my page!
                    I am a DevOps engineer that likes to tackle problems head on and find smart, creative and (hopefully) efficient solutions.
                    In order to know more about me, I have made an interactive game where my CV is integrated in!
                    Download the game, extract its content, run the executable and enjoy!</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>